@import url('../src/style/stylesheet.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Axiforma';
  scroll-behavior: smooth;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.home {
  background-color: #090909;
}

.first-bg {
  background-image: url('../public/1-desk.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-bg {
  background-image: url('../public/2-desk.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.third-bg {
  background-image: url('../public/3-desk.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.fith-bg {
  background-image: url('../public/5-desk.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -118px
}